<div class="container">

  <div class="card" style="padding: 1rem; margin: 1rem 0">
    <h2>Добавить пост</h2>
    <div>
      <input class="form-control" type="text" placeholder="Title" [(ngModel)]="postTitle">
      <input class="form-control" type="text" placeholder="Body" [(ngModel)]="postBody">
    </div>
    <div>
      <button style="margin-right: 0.6rem" class="btn btn-dark" (click)="addPost()">Добавить</button>
      <button class="btn btn-success " (click)="fetchPosts()">Загрузить</button>
    </div>
  </div>

  <hr>

  <h1 style="text-align: center">Посты</h1>

  <p *ngIf="error; else postsBlock" class="error">{{error}}</p>

  <ng-template #postsBlock>
    <div *ngIf="!loading; else loadingBlock">
      <div *ngIf="posts.length; else noPosts">
        <div style="padding: 1rem; margin-bottom: 1rem" class="card" *ngFor="let post of posts">
          <div>
            <h2>title:</h2>
            <span>{{post.title}}</span>
          </div>

          <div>
            <h3>body:</h3>
            <span>{{post.body}}</span>
          </div>

            <span>
              <button style="margin-right: 0.6rem" class="btn btn-primary" (click)="openModal(post.id)">Изменить</button>
              <button class="btn btn-danger" (click)="removePost(post.id)">Удалить</button>
            </span>

        </div>
      </div>
      <ng-template #noPosts>
        <p>Нет элементов</p>
      </ng-template>
    </div>

    <ng-template #loadingBlock>
      <p>Загрузка...</p>
    </ng-template>
  </ng-template>

</div>



